.mt {
    margin-top: 50px;
    margin-bottom: 50px;
}

.submit-area {
    box-shadow: 5px 5px 15px gray;
    padding: 40px;
    border-radius: 10px;
    margin-top: 40px;
}

#transition-area {
    display: none;
}

#transition-area {
    height: auto;
}

.deposit {
    background: #474bff;
    background: -webkit-linear-gradient(252deg, #474bff 0%, #9d23e3 100%);
    background: linear-gradient(252deg, #474bff 0%, #9d23e3 100%);
}

.balance {
    background: #ede258;
    background: -webkit-linear-gradient(252deg, #ede258 0%, #ec9039 100%);
    background: linear-gradient(252deg, #ede258 0%, #ec9039 100%);
}

.withdraw {
    background: rgb(221, 58, 58);
}

.status {
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.status h2{
    font-size: 2.5rem;
}

#numberSetupArea{
    display: none;
}
#displayName{
    font-weight: bold;
}